<div class="container text-center">
  <div class="group mt-5">
    <h3>
      Success! Here's your shortened link:
    </h3>
    <h3>
      <a href="http://{{newUrl}}">http://{{newUrl}}</a>     
    </h3>
    <a href="/" class="btn btn-outline-dark ml-2 btn-lg rounded-pill font-weight-bold mt-5">Back</a>
  </div>
</div>
